{
  "fruits": [
    {
      "id": 1,
      "name": "eper",
      "quantity": 30,
      "price": 3
    },
    {
      "id": 2,
      "name": "narancs",
      "quantity": 30,
      "price": 3
    },
    {
      "id": 3,
      "name": "alma",
      "quantity": 40,
      "price": 2
    },
    {
      "name": "szilva",
      "quantity": 25,
      "price": 2,
      "id": 4
    },
    {
      "name": "körte",
      "quantity": 22,
      "price": 3,
      "id": 5
    }
  ]
}